!!!
%html
  %head
  %body
    / .note
    .chatscreen
      .side
        .user
          = render "user"
        .groups
          = render "groups"
      .main
        .group
          .group__name
            = @group.name
          .group__member
            Member:
            - @group.users.each do |user|
              = user.name
          = link_to "./edit" do
            %button.group__edit-btn Edit
        .chat
          .chat__messages
            = render "message"
        .footer
          .footer-form
            = form_for [@group, @message] do |f|
              = f.text_field :content, class: 'footer-form__message', placeholder: 'type a message'
              .footer-form__upload-label
                = f.label :image, class: 'footer-form__image' do
                  = fa_icon 'image', class: 'icon'
                  = f.file_field :image, class: 'hidden'
              = f.submit 'Send', class: 'footer-form__send-btn', id: "new_message"
