!!!
%html
  %head
  %body
    .note
      Chat group has been created.
    .chatscreen
      .side
        .user
          %h3.user__name
            =current_user.name
          = link_to edit_user_path(current_user) do
            %i.fa.fa-cog
          = link_to edit_user_path(current_user) do
            %i.fa.fa-edit
        .groups
          = render "groups"
      .main
        .group
          .group__name
            sample
          .group__member
            Member: hogehogehoge
          = link_to '/' do
            %button.group__edit-btn Edit
        .chat
          .chat__message
            = render "message"
        .footer
          %form.footer-form{:action=> "/", :method => "get"}
            %input.footer-form__message{:type=> "text", :placeholder => "type a message"}
              %label.footer-form__upload-label{for: "upload-icon"}
                %input.footer-form__image{type: "file", id: "upload-icon"}
                %i.fa.fa-image
            %input.footer-form__send-btn{:type => "submit", :value => "Send"}
